
html
{
	min-height: 100%;
	background-image: url(../img/site/brand-gradient.jpg), linear-gradient(#4c9db4, #4cb480);
	background-repeat: repeat;
	background-position: center center;
	background-color: #4cb480;
	/*background-size: 	cover;*/
	/*background-attachment: fixed;*/
	font-family: "Barlow", sans-serif;
	
}
body
{
	margin: 0;
	padding: 0;
	font-size: 18px;
}
a
{
	text-decoration: none;
}

.brand .company:hover
{
	opacity: 0.8;
}

header, footer
{
    background: #000000;
    width: 	100%;
		color: white;
		position: fixed;
		z-index: 9999;
}
header a, footer a, header img, footer img
{
	color:white;
	vertical-align:	middle;
}
header 
{
	top:0;
}
footer
{
	bottom: 0;	
}

.page
{
	background-color: #fff;
    width: 960px;
    margin: 1em auto 1em;
    padding: 3em;
    margin-top: 7em;
	box-sizing: border-box;
	border-radius: 0.1em;
	box-shadow: 0em 0.2em 1.5em -0.4em #4F5F62;
}

.page:first-of-type{
	margin-top: 8em;
}
.page:last-of-type{
	margin-bottom: 12em;
}
.inner
{
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	padding: 	0.75em;
	margin: 0.75em auto;	
}

.container.fixed
{
	width: 960px;	
	margin: auto;
}

.container.fluid
{
	width: 100%;
	margin: auto;
	box-sizing: border-box;
}
section
{
	margin-top: 1em;
	padding: 1em;
}

h1,h2,h3,h4,h5,h6,
.nav-menu,
.brand
{
	font-family: dharma-gothic-e, sans-serif;
	font-style: normal;
	font-weight: 400;			
	text-transform: uppercase;
	line-height: 1em;
	margin: 1em auto 0em;
}

p 
{
	margin: 0 auto 1em;
}

.brand, .nav-menu 
{
	width:49%;
	display: 	inline-block;
	margin: 0 auto;	

}

.brand
{
	text-align: left;
	font-size: 2.75em;
	font-weight: 300;
	/*letter-spacing: -0.05em;*/
				
}

.nav-menu
{
	text-align: right;
	font-size: 	2em;
	font-weight: 200;
	/*letter-spacing: -0.05em;*/
}

.nav-menu a 
{
	padding: 0.5em;
}

.nav-menu a:hover
{
	color:red;
}

.page.splash
{
	background-color: transparent;
	text-align: center;
	box-shadow: none;
}
.page.splash .logo
{
	box-shadow: 0em 0.2em 1.5em -0.4em #4F5F62;
}

.logo.gameoflife
{
	background-color: black;
	vertical-align: middle;
}
		
h1 
{
    font-size: 3em;
    position: relative;
    text-align: center;
}

h1:before 
{
    content: "";
    background-image: url(https://static.wixstatic.com/media/846c4d_b5b6622654134d5fbc0dbf26e9ea832c~mv2.png);
    position: absolute;
    margin: auto 0;
    width: 100%;
    top: -0.75em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-size: 4em;
    /* text-align: center; */
    left: 0;
}
h2 
{
	font-size: 2em;
}

h3 
{
	font-size: 1.25em;
}
strong
{
	font-weight: bold;
}
em
{
	font-style: italic;
}

.member .portrait 
{
    width: 23%;
    margin-right: 2%;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
}

.member .info 
{
	width: 72%;
	display: inline-block;
	vertical-align: middle;

}

.member .name,
.member .title,
.member .separator
{
    margin: 0 0;
    display: inline-block;
    vertical-align: middle;
	text-transform: capitalize;
}
.member .name
{
	color:black;
}

.member .title
{
	color: #4cb480;
}

.member .separator
{
	margin: 0.2em;
}

.member .bio
{
	margin-top: 0;
}

.copyright
{
	opacity: 0.35;
}

.copyright, 
.social-links
{
	width:49.25%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.social-links
{
	text-align: right;
}

.social-links .link
{
	display: inline;
}

.social-links .link .icon
{
	color: black;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 2em;
    height: 2em;	
    text-align: center;
	vertical-align: middle;
	line-height: 2em;
	font-size: 1.5em;
}

.social-links .link .icon:hover
{
	background-color: red;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) 
{

	.member .portrait,
	.member .info,
	.member .name,
	.member .title,
	.member .bio {
		display: block;
		width: 100%;
	
	}

	.member .name,
	.member .title{
		text-align: center;
	}
	.member .name{
		font-size: 8em;
	}
	.member .title{
		font-size: 5em;
	}
	.member .separator {
		display: none;
	}

	h1,h2,h3,h4,h5,h6
	{
		font-size: 6em;
	}
	.brand,
	.nav-menu
	{
		font-size: 4em;
		width: 100%;
		display: block;
		text-align: center;
	}
	.brand
	{
		font-size: 6em;
	}

	.brand .logo
	{
		transform: scale(1.5);
		margin: 0.25em;
	}

	.social-links .link .icon
	{
		line-height: 2em;
		font-size: 4em;
		margin: 0.25em;
	}
}

