
html, body
{
	margin: 0;
	padding: 0;
}
html
{
	min-height: 100.1%;
	background-image: linear-gradient(#4c9db4, #4cb480);
	background-repeat: repeat;
	background-position: center center;
	background-color: #4cb480;
	/*background-size: 	cover;*/
	background-attachment: fixed;
/*	font-family: "Barlow", sans-serif;*/
	font-size: 18px;
}
canvas,
header,
footer,
a,
button,
div,
img,
input
{
	transition: background-color 0.65s, color 0.65s, opacity 0.65s;
}

body
{
}
a
{
	text-decoration: none;
}

a.active
{
	color: #e43000;
}

.brand .company:hover
{
	opacity: 0.6;
}

header, footer
{
    background: #000000;
    width: 	100%;
	color: white;
	position: fixed;
	z-index: 9999;
}

header a, footer a, header img, footer img
{
	color:white;
	vertical-align:	middle;
}

header 
{
	top:0;
}

footer
{
	bottom: 0;	
}

button
{
}

button, 
.btn
{
    background-color: #4cb480;
    border: none;
    padding: 1em 2em;
    color: white;
    text-align: center;
    vertical-align: middle;
	font-size: inherit;
	border-radius: 200px;
	cursor: pointer;
	background-image: none;
}

a.btn
{
	width: 6em;
}

.btn:hover 
{
    opacity: 0.6;
}

.btn
{
    position: relative;
    display: block;
    text-transform: uppercase;
}

.btn.disabled
{
	margin-top: 2em;
	margin-left: auto;
	background-color: #333;
	opacity: 0.5;
}

.page
{
	background-color: #fff;
    width: 960px;
    margin: 1em auto 1em;
    padding: 1em 3em 3em;
    margin-top: 7em;
	box-sizing: border-box;
	border-radius: 0.1em;
	box-shadow: 0em 0.2em 1.5em -0.4em #4F5F62;
}

.page:first-of-type{
	margin-top: 8em;
}
.page:last-of-type{
	margin-bottom: 12em;
}
.inner
{
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	padding: 	0.75em;
	margin: 0.75em auto;
	position: relative;	
}

.container
{
	position: relative;
	margin: auto;
}

.container.fixed
{
	width: 960px;	
}

.container.fluid
{
	width: 100%;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,
.nav-menu,
.brand
{
/*	font-family: dharma-gothic-e, sans-serif;*/
	font-style: normal;
	font-weight: 400;			
	text-transform: uppercase;
	line-height: 1em;
	margin: 1em auto 0em;
}

p 
{
/*	font-family: "Barlow", sans-serif;*/
	margin: 0 auto 1em;
}

.brand, .nav-menu 
{
	width:49%;
	display: 	inline-block;
	margin: 0 auto;	

}

.brand
{
	text-align: left;
	font-size: 2.75em;
	font-weight: 300;
	/*letter-spacing: -0.05em;*/		
}

.brand .logo
{
	display: block;
}

.nav-menu
{
	text-align: right;
	font-size: 	2em;
	font-weight: 200;
	/*letter-spacing: -0.05em;*/
}

.nav-menu a 
{
	padding: 0.5em;
}

.nav-menu a:hover
{
	color:#e43000;
}

.page.splash
{
	background-color: transparent;
	text-align: center;
	box-shadow: none;
}
.page.splash .logo
{
	box-shadow: 0em 0.2em 1.5em -0.4em #4F5F62;
}

.logo.gameoflife
{
	background-color: black;
	vertical-align: middle;
}
		
.page h1 
{
    font-size: 3em;
    position: relative;
    text-align: center;
}

.page h1:before 
{
    content: "";
    background-image: url(../img/site/vital_game_studios_header_decor.png);
    position: absolute;
    margin: auto 0;
    width: 100%;
    top: -0.75em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-size: 4em;
    /* text-align: center; */
    left: 0;
}
.opening h1:before
{
	content:"";
	background-image: none;
}
h2 
{
	font-size: 2em;
}

h3 
{
	font-size: 1.25em;
}
strong
{
	font-weight: bold;
}
em
{
	font-style: italic;
}

.member
{
	margin-bottom: : 1em;
	padding: 1em;
}

.member:first-of-type
{
	padding-top: 0.5em;
}

.member .portrait
{
	width: 28%;
    margin-right: 3%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.member .portrait > img 
{
    width: 100%;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
}

.member .info 
{
	width: 68%;
	display: inline-block;
	vertical-align: middle;

}

.member .name,
.member .title,
.member .separator
{
    margin: 0 0;
    display: inline-block;
    vertical-align: middle;
	text-transform: capitalize;
}
.member .name
{
	color:black;
}

.member .title
{
	color: #4cb480;
}

.member .separator
{
	margin: 0.2em;
}

.member .bio
{
	margin-top: 0;
	vertical-align: middle;
}

.member .social-links {
	width: 100%;
    text-align: center;
    margin:0.5em auto;
    vertical-align: middle;
}

.member .social-links .link .icon {
    background-color: black;
    color: white;
    font-size: 1.2em;
    margin-right: 0.5em;
}

.member .social-links .link .icon:hover
{
	background-color: #e43000;
}

footer .copyright
{
	opacity: 0.35;
}

footer .copyright, 
.social-links
{
	width:49.25%;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.social-links
{
	text-align: right;
}

.social-links .link
{
	display: inline;
}

.social-links .link .icon
{
	color: black;
	font-size: 1.5em;
	line-height: 2em;
	vertical-align: middle;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    height: 2em;	
    list-style: none;
    margin: 0.125em;
    text-align: center;
    text-decoration: none;
    width: 2em;
}

.social-links .link .icon:hover
{
	background-color: #e43000;
}

/* CAREERS */

.opening
{
    font-size: 0.8em;
    background-color: #f1f1f1;
    text-align: left;
    position: relative;
    padding: 2em;
    border-top-width: 3px;
    border-top-style: solid;
/*    font-family: "Barlow", sans-serif;*/
    margin-bottom: 1em;
}

.opening.open
{
	border-top-color: #4cb480;
}
.opening.filled
{
	border-top-color: gray;
	opacity: 0.65;
};

.opening h1,
.opening h2,
.opening h3,
.opening h4,
.opening h5,
.opening h6
{
/*	font-family: "Barlow", sans-serif;*/
}
.opening .role
{
    text-align: left;
    margin-top: 0;
    text-transform: capitalize;
}
.opening h1
{
	font-size: 1.6em;
}
.opening h2
{
	font-size: 1.2em;
	font-weight: 600;
}

.opening .department
{
	color: #4c9db4;
	margin: 0.25em auto 0;
}

.opening .summary
{
	margin: 1em auto 2em;
}

.opening .summary
{
	line-height: 1.5em;
}

.opening .status {
    position: absolute;
    display: block;
    top: 1em;
    right: 1em;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
}

.opening.open .status{
	color: #e43000;
}


.application
{
    margin-top: 3em;
    text-align: right;
}

.application .instruction
{
	margin:1em;
	vertical-align: middle;
	font-size: 1em;
}

.btn.more {
    margin-left: auto;
}

.btn.apply
{
    background-color: #4c9db4;
}

.application .btn
{
    display: inline;
    vertical-align: middle;
    margin: 0;
}

.opening.filled .btn.more
{
	background-color: #888;
}

/* FORM */

.page.games
{
	padding: 0;
	overflow: hidden;
}

.page.games article
{
	padding: 1em 3em 3em;
}

.mc-field-group {
    padding: 0.3em;
    /* columns: 2; */
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
}

label {
    vertical-align: middle;
    display: block;
    width: 100%;
}

input {
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    padding: 0.5em;
    width: 100%;
    background-color: #f6f6f6;
    color: #6c6c6c;
    font: inherit;
    box-sizing: border-box;
    font-weight: 400;
}

.indicates-required {
    font-size: 0.7em;
    text-align: center;
}

div#mc_embed_signup_scroll {
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
}

.page.games .newsletter .btn {
    margin: 2em auto;
}

article.newsletter {
    color: white;
    background-color: #353535;
    padding: 1em;
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
    /* margin-bottom: 2em; */
}

article.games {
    padding: 1em;
}

.validate h2 {
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
}

div#mc_embed_signup {
    margin-bottom: 1em;
}

.mc-field-group label {
    vertical-align: middle;
    display: block;
    width: 100%;
    color: #4bb480;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.4em 0;
}

/* QUERIES */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) 
	{
		/*.page:first-of-type
		{
			margin-top: 14.5em;
		}*/
		.member
		{
			border-top: 3px solid #eee;
			padding: 4em 0;
		}
		.member .portrait,
		.member .info,
		.member .name,
		.member .title,
		.member .bio {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
		.member .portrait > img
		{
			width: 60%;
		}

		.member .name,
		.member .title{
			text-align: center;
		}
		.member .name{
			font-size: 8em;
		}
		.member .title{
			font-size: 5em;
		}
		.member .separator {
			display: none;
		}
		
		.member .bio
		{
			padding: 1em 0;
		}

		h1,h2,h3,h4,h5,h6
		{
			font-size: 6em;
			text-align: center;
		}
		
		.page h1
		{
			font-size: 6em;
		}

		.brand,
		.nav-menu
		{
			font-size: 5em;
			width: 100%;
			display: block;
			text-align: center;
		}
		.brand
		{
			font-size: 6em;
		}

		.brand .logo
		{
			transform: scale(1.5);
			margin: 0.25em;
		}

		.social-links .link .icon
		{
			line-height: 2em;
			font-size: 4em;
			margin: 0.25em;
		}
		
		.member .social-links
		{
			text-align: center;
			margin: 0 auto;
			width: 100%;
		}

		.member .social-links .link .icon
		{
			font-size: 4em;
		}

		footer .social-links,
		footer .copyright
		{
			width: 100%;
			display: block;
			text-align: center;
		}

		footer .copyright
		{
			width: 100%;
			font-size: 2em;
			display: block;
			text-align: center;
			margin: 0.5em auto;
			position: absolute;
			bottom: 0;
			/*margin-left: 0.5em;*/
		}

		footer .social-links
		{
			padding-bottom: 4em;
		}
		

		.btn,
		.btn.more,
		.btn.apply,
		.application .btn,
		.application .instruction
		{
			width: 100%;
			box-sizing: border-box;
			display: block;
			text-align: center;
		}

		.btn,
		.btn.more,
		.btn.apply,
		.application .btn
		{
			padding: 1em -0px;
			font-size: 3em;
			margin: 1em 0;
		}
		
		.application .instruction
		{
			font-size: 2.5em;
			margin: 0;
			padding: 0;
		}

		.opening
		{
			border-top-width: 10px;
			margin-top: 2em;
		}

		.opening .status
		{
			margin: 0 auto;
			top: auto;
			right: auto;
			position: relative;
			padding: 1em 0px;
		}

		.opening .status,
		.opening .role,
		.opening .department,
		.opening .btn
		{
			text-align: center;
		}

		.page.games .newsletter input
		{
			display: block;
			width: 100%;
			font-size: 3em;
		}

		div#mc_embed_signup_scroll
		{
			width: 100%;
		}


	}


.secret-sequence
{
	background-image: none;
	background-color: black;
}

.secret-sequence body > header,
.secret-sequence body > footer
{
	opacity: 0;
}

.secret-sequence .logo.gameoflife
{
	width: auto;
	box-shadow: none;
	cursor: pointer;
}